<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina oficial de ManuCocina. Los mejores productos y recetas sin TACC ni lactosa.">
    <meta name="keywords" content="sin tacc, sin lactosa, cocina, saludable, tortas, budines, galletas, recetas">
    <title>ManuCocina - nosotros</title>
    <link rel="shortcut icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../CSS/estilo.css">
</head>
<body>
<div class="Container">
    <div id="contenedorCarrito" class="row mt-5 mb-5 ml-5 mr-5">
        <div class="row">
            <div class="col-lg-3 col-xs-2 contenedorVacio"></div>
            <div class="col-lg-6 col-xs-8">
                <div id="carrito">
                    <div class="row colFlex colFlex--justifyCenter">
                            <button id="cerrarCarrito" class="btn-primary mt-4 btnCarrito">Esconder Carrito</button>
                    </div>
                    <div id="carroACompletar">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio x Unidad</th>
                            </tr>
                            </thead>
                            <tbody id=bodyTablaCarrito>
                            </tbody>
                            <tr id="totalCarrito">
                            </tr>
                        </table>
                    </div> 
                    <div class="row colFlex colFlex--justifyCenter">
                        <a href="realizarPago.html" id="realizarCompra" class="btn-primary mt-4 btnCarrito">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-2 contenedorVacio"></div>
        </div>
    </div> 
<!--inicio header-->   
    <div class="row">
        <div class="col-lg-12 col-xs-12">    
            <header id="top" class="header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand enlaceLogo" href="../index.html"><img src="../assets/img/logo.png" alt="logo" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav"> 
                    <ul class="navbar-nav">
                        <li class="nav-item opcionUno">
                        <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item opcionDos">
                        <a class="nav-link" href="../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item opcionTres">
                        <a class="nav-link" href="../views/recetas/pastafrola.html">Recetas</a>
                        </li> 
                        <li class="nav-item active opcionCuatro">
                        <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item opcionCinco">
                        <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item opcionSeis">
                            <a class="nav-link" href="../views/tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item opcionSiete">
                            <button id="abrirCarrito" class="nav-link carritoBtn">
                                <div class="carrito">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#2EA5AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="carrito feather feather-shopping-cart">
                                        <circle cx="9" cy="21" r="1"></circle>
                                        <circle cx="20" cy="21" r="1"></circle>
                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                    </svg>
                                </div>
                            </button>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
<!--cierre HEADER-->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <section class="tituloNosotros">
                <article data-aos="fade-up">
                    <h1 class="tituloPaginas">Quienes somos:</h1>
                    <p class="parrafo">Es momento de presentarnos... ManuCocina esta conformado por dos amigas. En la página principal vas a encontrar una anécdota que compartimos y que sin dudas fue el puntapié inicial para comenzar nuestro emprendimiento. Ambas somos estudiantes avanzadas de la carrera de música de la Universidad Nacional de La Plata. Como ya contamos, uno de nuestros problemas (siendo una de nosotras celíaca) era elegir las comidas, más específicamente el problema se daba todas las tardes que nos juntábamos a estudiar y no sabíamos con qué acompañar el mate. Hoy pudimos solucionar este problema y queremos compartirlo con todos los que podamos. Por eso creamos ManuCocina, para darle alternativas a las personas que por tal o cual problema, no pueden consumir alimentos con TACC o Lactosa.</p>
                </article>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <hr class="hrNosotrosUno">
        </div>
    </div>
    <div class="row"> 
        <div class="col-lg-6 col-xs-12">
            <section class="sectionNosotros2">
                <article class="articleNosotros2">
                    <div class="parrafonosotros2" data-aos="fade-up">    
                        <h2 class="subtituloNosotros2">Por qué hacemos ManuCocina?</h2>
                        <p class="parrafo">Hoy decidimos hacer ManuCocina por varios motivos. Entre ellos se encuentran varias experiencias de amigos y conocidos que no podían consumir alimentos con TACC o Lactosa y se veían y sentían excluídos. Tristemente es una realidad muy común hasta el día de hoy, aunque de a poco vemos que está cambiando. Por esto nosotros queremos aportar nuestro granito de arena para que todos tengan la posibilidad de comer algo rico y saludable. Otro de los motivos es el económico. Otra realidad complicada para los que no pueden consumir TACC ni lactosa es el precio de los productos... está todo carísimo! por eso intentamos ofrecer promociones y cuidar los precios para que, sin descuidar los productos, utilizando buena materia prima, sea todo accesible.</p>
                </article>
            </section>
        </div>
        <div class="col-lg-6 col-xs-12 imgGallesFlex">
            <div class="containerImgGalletasChoco">
                <img src="../assets/img/gallesChoco.jpg" alt="Galletas de choco" class="imgGalletasChoco" data-aos="fade-up">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <hr class="hrNosotrosDos">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12 imgBudinFlex">
            <div class="containerImgBudin">
                <img src="../assets/img/budinVainilla.jpg" alt="Budin" class="imgBudin" data-aos="fade-up">
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <section class="sectionNosotros3">
                <article class="articleNosotros3">   
                    <div class="parrafoNosotros3" data-aos="fade-up">
                        <h2 class="subtituloNosotros3">Para quiénes son nuestros productos?</h2>
                        <p class="parrafo"> Nuestros productos son especialmente para personas celíacas. La persona celíaca tiene intolerancia permanente al gluten, un conjunto de proteínas del trigo, avena, cebada y centeno, que irrita la parte interna de los intestinos e impide la absorción de elementos nutritivos como grasas, carbohidratos, vitaminas, proteínas y algunos minerales, que son esenciales para el buen funcionamiento del organismo. La persona celíaca y su entorno deben estar bien informados, sobre todo para poder tomar ciertos cuidados a la hora de manipular los alimentos y evitar la “contaminación cruzada”, que se produce cuando éstos entran en contacto con otros ingredientes o superficies donde haya restos de gluten.</p>
                </article> 
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <!-- inicio footer-->
            <footer class="footerFlex">
                <h3 class="copyright">ManuCocina©</h3>
                <ul class="opcionesFooter">
                    <li class="linkFooter"><a href="#top">Ir al tope</a></li>
                    <li class="linkFooter"><a href="../views/nosotros.html">Nosotros</a></li>
                    <li class="linkFooter"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
                <!--inicio lista para enlaces a redes sociales-->
                <div class="divLogosRedes">
                    <img class="logoRedSocial" src="../assets/img/Redes sociales/whatsapp.png"></li>
                    <img class="logoRedSocial" src="../assets/img/Redes sociales/instagram.png"></li>
                </div>
                <!--cierre lista de enlaces a redes sociales-->
            </footer>
            <!--cierre footer-->
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init(); 
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html> 