<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina oficial de ManuCocina. Los mejores productos y recetas sin TACC ni lactosa.">
    <meta name="keywords" content="sin tacc, sin lactosa, cocina, saludable, tortas, budines, galletas, recetas">
    <title>ManuCocina - productos</title>
    <link rel="shortcut icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../CSS/estilo.css">
    <script src="productos.js"></script>
</head>
<body>
<div class="Container"> 
<!--inicio header-->   
    <div class="row">
        <div class="col-lg-12 col-xs-12">    
            <header id="top" class="header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand enlaceLogo" href="../index.html"><img src="../assets/img/logo.png" alt="logo" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item opcionUno">
                        <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item active opcionDos">
                        <a class="nav-link" href="../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item opcionTres">
                        <a class="nav-link" href="../views/recetas/pastafrola.html">Recetas</a>
                        </li>
                        <li class="nav-item opcionCuatro">
                        <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item opcionCinco">
                        <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <!--cierre HEADER-->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h1 class="tituloPaginas tituloProductos" onclick="comprar()">Productos</h1>
            <p class="parrafo parrafoProductos">Les presentamos nuestros productos. Los realizamos con mucho amor y muchísimo cuidado para evitar la contaminación cruzada con productos que puedan contener TACC. Esto es muy importante para nosotros ya que nos permite garantizar la seguridad de los consumidores que eligen comprar nuestros productos. Además utilizamos productos de primera calidad para lograr que nuestras recetas tengan el mejor sabor y el mayor nivel posible. Si querés alguna de ls delicias que vas a ver aquí abajo, contactanos! Podes ir a la pagina de contacto haciendo click <a href="contacto.html" class="enlaceRedSocial">aquí</a>, o podés hablarnos por <a href="#" class="enlaceRedSocial">WhatsApp</a> o mandarnos un mensaje directo a nuestro <a href="#" class="enlaceRedSocial">Instagram</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <section class="productosBudines" data-aos="fade-up">
                <article>
                    <h2 class="subtituloProductos">Budines</h2>
                    <div class="containerProductosBudines">
                        <div class="containerImgBudin1">
                            <img src="../assets/img/budines/budin3cuadrado.jpg" alt="Budín de vainilla" class="imgProductos imgBudin1">
                            <h3 class="pieDeImagen">Budín de vainilla</h3></div>
                        <div class="containerImgBudin2">
                            <img src="../assets/img/budines/budinChocolateCuadrado.jpg" alt="Budín de chocolate" class="imgProductos imgBudin2">
                            <h3 class="pieDeImagen">Budín de Chocolate</h3></div>
                        <div class="containerImgBudin3">
                            <img src="../assets/img/budines/budinLimonCuadrado.jpg" alt="Budín de limón" class="imgProductos imgBudin3">
                            <h3 class="pieDeImagen">Budín de Limón</h3></div>
                        <div class="containerImgBudin4">
                            <img src="../assets/img/budines/budinMarmoladoCuadrado.jpg" alt="Budín marmolado" class="imgProductos imgBudin4">
                            <h3 class="pieDeImagen">Budín Marmolado</h3></div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-lg-6 col-xs-12">
            <section class="productosGalletitas" data-aos="fade-up">
                <article>
                    <h2 class="subtituloProductos">Galletitas</h2>
                    <div class="containerProductosGalletitas">
                        <div class="containerImgGalles1">
                            <img src="../assets/img/galletitas/crackers.jpg" alt="Galletitas crackers" class="imgProductos imgGalles1" onclick="gallesCrackers.disponibilidad()">
                            <h3 class="pieDeImagen">Galletitas Crackers</h3></div>
                        <div class="containerImgGalles2">
                            <img src="../assets/img/galletitas/galleschoco.jpg" alt="Galletitas de chocolate" class="imgProductos imgGalles2" onclick="gallesChoco.disponibilidad()">
                            <h3 class="pieDeImagen">Galletitas de Chocolate</h3></div>
                        <div class="containerImgGalles3">
                            <img src="../assets/img/galletitas/galletitasAvenaConPasasCuadrado.jpg" alt="Galletitas de avena con pasas" class="imgProductos imgGalles3">
                            <h3 class="pieDeImagen">Galletitas de Avena</h3></div>
                        <div class="containerImgGalles4">
                            <img src="../assets/img/galletitas/galletitasLimonCuadrado.jpg" alt="Galletitas de limón" class="imgProductos imgGalles4">
                            <h3 class="pieDeImagen">Galletitas de Limón</h3></div>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-0">
            <div class="blankSpace1"></div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <section class="productosTortas" data-aos="fade-up">
                <article>
                    <h2 class="subtituloProductos">Tortas</h2>
                    <div class= "containerProductosTortas">
                        <div class="containerImgTortas1">
                            <img src="../assets/img/tortas/bizcochuelo.jpg" alt="Bizcochuelo" class="imgProductos imgTortas1">
                            <h3 class="pieDeImagen">Bizcochuelo</h3></div>
                        <div class="containerImgTortas2">
                            <img src="../assets/img/tortas/marquiseChocoCuadrado.jpg" alt="Marquise de chocolate" class="imgProductos imgTortas2">
                            <h3 class="pieDeImagen">Marquise de Chocolate</h3></div>
                        <div class="containerImgTortas3">                    
                            <img src="../assets/img/tortas/pastafrola.jpg" alt="Pastafrola" class="imgProductos imgTortas3">
                            <h3 class="pieDeImagen">Pastafrola</h3></div>
                        <div class="containerImgTortas4">                    
                            <img src="../assets/img/tortas/tortaVainillaCuadrado.jpg" alt="Torta de vainilla" class="imgProductos imgTortas4">
                            <h3 class="pieDeImagen">Torta de Vainilla</h3></div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-lg-4 col-xs-0">
            <div class="blankSpace2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <!-- inicio footer-->
            <footer class="footerFlex">
                <h3 class="copyright">ManuCocina©</h3>
                <ul class="opcionesFooter">
                    <li class="linkFooter"><a href="#top">Ir al tope</a></li>
                    <li class="linkFooter"><a href="../views/nosotros.html">Nosotros</a></li>
                    <li class="linkFooter"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
                <!--inicio lista para enlaces a redes sociales-->
                <div class="divLogosRedes">
                    <img class="logoRedSocial" src="../assets/img/Redes sociales/whatsapp.png"></li>
                    <img class="logoRedSocial" src="../assets/img/Redes sociales/instagram.png"></li>
                </div>
                <!--cierre lista de enlaces a redes sociales-->
            </footer>
            <!--cierre footer-->
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>