.colFlex {
    display: flex;
}
.flexColumn {
    flex-direction: column;
}
.colFlex--alignCenter {
    align-items: center;
}
.colFlex--justifyCenter {
    justify-content: center;
}
.lateralMargin {
    margin-right: 20px;
    margin-left: 20px;
}
@media only screen and (max-width:991px) {
    .flexColumnMobile {
        display: flex;
        flex-direction: column;
    }
}
hr {
    margin: 30px;
} 
h1 {
    padding: 10px;
    margin: 10px;
}
h2 {
    padding: 15px;
}
li {
    padding: 10px;
}
.tituloPaginas {
    margin-top: 20px;
}
.parrafo {
    padding: 15px;
}
.error404Img {
    margin-top: 50px;
}