@import "colores";

/*#contenedorCarrito {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}*/
#contenedorCarrito {
    z-index: 8;
    display: none;
    position: fixed;
    width: 100%;
    height: 50%;
}
#carrito {
    border: 2px solid $naranja;
    background-color: $blanco;
    height: 100%;
    margin-top: 20px;
}
.btnCarrito {
    font-size: 1.5rem;
    width: auto;
}
.contenedorVacio {
    width: 100%;
}


/*#pruebaD {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
}*/