html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
h2 {
    font-size: 2.5rem;
    text-align: left;
}
.parrafo {
    font-size: 1.7rem;
    text-align: justify;
}
.pieDeImagen {
    font-size: 1.7rem;
    text-align: center;
}
.tituloPaginas {
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;
}

.textoAFiltrar {
    font-size: 1.7rem;
}