<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina oficial de ManuCocina. Los mejores productos y recetas sin TACC ni lactosa.">
    <meta name="keywords" content="sin tacc, sin lactosa, cocina, saludable, tortas, budines, galletas, recetas">
    <title>ManuCocina - receta bizcochuelo </title>
    <link rel="shortcut icon" href="../../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../../CSS/estilo.css">
</head>
<body>
<div class="Container">
    <div id="contenedorCarrito" class="row mt-5 mb-5 ml-5 mr-5">
        <div class="row">
            <div class="col-lg-3 col-xs-2 contenedorVacio"></div>
            <div class="col-lg-6 col-xs-8">
                <div id="carrito">
                    <div class="row colFlex colFlex--justifyCenter">
                            <button id="cerrarCarrito" class="btn-primary mt-4 btnCarrito">Esconder Carrito</button>
                    </div>
                    <div id="carroACompletar">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio x Unidad</th>
                            </tr>
                            </thead>
                            <tbody id=bodyTablaCarrito>
                            </tbody>
                            <tr id="totalCarrito">
                            </tr>
                        </table>
                    </div> 
                    <div class="row colFlex colFlex--justifyCenter">
                        <a href="../realizarPago.html" id="realizarCompra" class="btn-primary mt-4 btnCarrito">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-2 contenedorVacio"></div>
        </div>
    </div>
<!--inicio header-->   
    <div class="row">
        <div class="col-lg-12 col-xs-12">    
            <header id="top" class="header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand enlaceLogo" href="../../index.html"><img src="../../assets/img/logo.png" alt="logo" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item opcionUno">
                        <a class="nav-link" href="../../index.html">Home</a>
                        </li> 
                        <li class="nav-item opcionDos">
                        <a class="nav-link" href="../../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item active opcionTres">
                        <a class="nav-link" href="../../views/recetas/pastafrola.html">Recetas</a>
                        </li>
                        <li class="nav-item opcionCuatro">
                        <a class="nav-link" href="../../views/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item opcionCinco">
                        <a class="nav-link" href="../../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item opcionSeis">
                            <a class="nav-link" href="../../views/tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item opcionSiete">
                            <button id="abrirCarrito" class="nav-link carritoBtn">
                                <div class="carrito">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#2EA5AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="carrito feather feather-shopping-cart">
                                        <circle cx="9" cy="21" r="1"></circle>
                                        <circle cx="20" cy="21" r="1"></circle>
                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                    </svg>
                                </div>
                            </button>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <!--cierre HEADER-->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h1 class="tituloPaginas tituloRecetas">Recetas sin TACC ni lactosa!</h1> 
        </div> 
    </div> 
    <div class="row lateralMargin">
        <div class="col-lg-12 col-xs-12">
            <div class="gridNavRecetas">
                <h4 class="recetaUno nombreReceta">Pastafrola</h4>
                <h4 class="recetaDos nombreReceta">Budín</h4>
                <h4 class="recetaTres nombreReceta">Crackers</h4>
                <h4 class="recetaCuatro nombreReceta">Bizcochuelo</h4>
                <a href="pastafrola.html" class="imgRecetaUno"><img src="../../assets/img/pastafrola.jpg" alt="Pastafrola" class="imgReceta"></a>
                <a href="budin.html" class="imgRecetaDos"><img src="../../assets/img/budin2.jpg" alt="Budín" class="imgReceta"></a>
                <a href="crackers.html" class="imgRecetaTres"><img src="../../assets/img/gallesCrackers.jpg" alt="Crackers" class="imgReceta"></a>
                <a href="bizcochuelo.html" class="imgRecetaCuatro"><img src="../../assets/img/bizcochuelo.jpg" alt="Bizcochuelo" class="imgReceta"></a>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <section class="recetaPreparacion" data-aos="fade-up">
                <h3 class="tituloPreparacion tituloPaginas">Preparación de Bizcochuelo</h3>
                <article>
                    <ol>
                        <li class="parrafo recetaPreparacion liRecetas">Lo primero que tenemos que hacer para preparar este bizcocho sin gluten y sin lactosa es precalentar el horno a 170 ºC.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Después en un bol cascamos un huevo y con un túrmix o batidor eléctrico lo batimos hasta que se forme espuma. Y repetimos esta operación con los otros dos huevos pero siempre de uno en uno.</li>
                        <li class="parrafo recetaPreparacion liRecetas">A continuación, añadimos el azúcar y volvemos a batir hasta que vuelva a formarse espuma de nuevo. A este proceso se le llama blanquear los huevos y es muy común a la hora de hacer bizcochos esponjosos caseros.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Luego añadimos la harina y la levadura química y volvemos a bartir con el túrmix hasta obtener una masa de bizcocho sin gluten homogénea.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Seguidamente añadimos el aceite de oliva y volvemos a batir de nuevo.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Por último, añadimos la ralladura de una naranja o de un limón dependiendo del sabor que le queramos dar a nuestro bizcocho sin gluten y sin lactosa y volvemos a batir hasta conseguir una masa uniforme.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Entonces forramos un molde con un poco de aceite y vertemos la masa del bizcocho sin lactosa y sin gluten. Lo metemos en el horno precalentado y lo cocinamos unos 40 minutos hasta que esté bien hecho.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Una vez horneado, sacamos el bizcocho sin gluten y sin lactosa del horno, lo dejamos enfriar y si queremos espolvoreamos un poco de azúcar glass por encima.</li>
                    </ol>
                </article>
            </section>
        </div>
        <div class="col-lg-4 col-xs-12">
            <section class="recetaPreparacion" data-aos="fade-up">
                <article> 
                    <h3 class="tituloIngredientes tituloPaginas">Qué necesitás?</h3>
                    <ul class="ulIngredientes">
                        <li class="parrafo liIngredientes">3 Huevos</li>
                        <li class="parrafo liIngredientes">125 gramos de Azúcar</li>
                        <li class="parrafo liIngredientes">125 gramos de Harina de repostería sin gluten</li>
                        <li class="parrafo liIngredientes">125 mililitros de Aceite de oliva</li>
                        <li class="parrafo liIngredientes">1 cucharadita de Levadura química</li>
                        <li class="parrafo liIngredientes">1 Limón o Naranja (ralladura)</li>
                        <li class="parrafo liIngredientes">Azúcar glass</li>
                    </ul>  
                </article>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <!-- inicio footer-->
            <footer class="footerFlex">
                <h3 class="copyright">ManuCocina©</h3>
                <ul class="opcionesFooter">
                    <li class="linkFooter"><a href="#top">Ir al tope</a></li>
                    <li class="linkFooter"><a href="../nosotros.html">Nosotros</a></li>
                    <li class="linkFooter"><a href="../contacto.html">Contacto</a></li>
                </ul>
                <div class="divLogosRedes">
                    <img class="logoRedSocial" src="../../assets/img/Redes sociales/whatsapp.png"></li>
                    <img class="logoRedSocial" src="../../assets/img/Redes sociales/instagram.png"></li>
                </div>
            </footer>
            <!--cierre footer--> 
        </div>
    </div> 
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../main.js"></script>
</body> 
</html>