<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina oficial de ManuCocina. Los mejores productos y recetas sin TACC ni lactosa.">
    <meta name="keywords" content="sin tacc, sin lactosa, cocina, saludable, tortas, budines, galletas, recetas">
    <title>ManuCocina - receta crackers</title>
    <link rel="shortcut icon" href="../../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../../CSS/estilo.css">
</head>
<body>
<div class="Container">
<!--inicio header-->    
    <div class="row">
        <div class="col-lg-12 col-xs-12">    
            <header id="top" class="header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand enlaceLogo" href="../../index.html"><img src="../../assets/img/logo.png" alt="logo" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item opcionUno">
                        <a class="nav-link" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item opcionDos">
                        <a class="nav-link" href="../../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item active opcionTres">
                        <a class="nav-link" href="../../views/recetas/pastafrola.html">Recetas</a>
                        </li>
                        <li class="nav-item opcionCuatro">
                        <a class="nav-link" href="../../views/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item opcionCinco">
                        <a class="nav-link" href="../../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item opcionSeis">
                        <a class="nav-link" href="../../views/carrito.html"><svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24" fill="none" stroke="#2EA5AC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="carrito feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <!--cierre HEADER-->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h1 class="tituloPaginas tituloRecetas">Recetas sin TACC ni lactosa!</h1> 
        </div> 
    </div> 
    <div class="row lateralMargin">
        <div class="col-lg-12 col-xs-12">
            <div class="gridNavRecetas">
                <h4 class="recetaUno nombreReceta">Pastafrola</h4>
                <h4 class="recetaDos nombreReceta">Budín</h4>
                <h4 class="recetaTres nombreReceta">Crackers</h4>
                <h4 class="recetaCuatro nombreReceta">Bizcochuelo</h4>
                <a href="pastafrola.html" class="imgRecetaUno"><img src="../../assets/img/pastafrola.jpg" alt="Pastafrola" class="imgReceta"></a>
                <a href="budin.html" class="imgRecetaDos"><img src="../../assets/img/budin2.jpg" alt="Budín" class="imgReceta"></a>
                <a href="crackers.html" class="imgRecetaTres"><img src="../../assets/img/gallesCrackers.jpg" alt="Crackers" class="imgReceta"></a>
                <a href="bizcochuelo.html" class="imgRecetaCuatro"><img src="../../assets/img/bizcochuelo.jpg" alt="Bizcochuelo" class="imgReceta"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <section class="recetaPreparacion" data-aos="fade-up">
                <h3 class="tituloPreparacion tituloPaginas">Preparación de Galletitas Crackers</h3>
                <article>
                    <ol>

                        <li class="parrafo recetaPreparacion liRecetas">En un recipiente colocar 1 1/2 tazas de garbanzos hervidos + 1 huevo + sal a gusto. Triturar con multiprocesadora hasta obtener una pasta suave y homogénea.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Agregar 3 cucharadas soperas de aceite + 1/2 taza de almidón de mandioca + 1/2 taza de harina de arroz o almidón de maíz. Mezclar y amasar.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Tapar y dejar reposar en heladera durante 30 minutos.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Luego estirar la masa (yo uso papel film para que sea más fácil) y cortar las crackers con cortante o cuchillo. Opcional: espolvorear semillas u orégano, etc.</li>
                        <li class="parrafo recetaPreparacion liRecetas">Colocar las crackers en una asadera levemente aceitada. Pinchar la superficie con un tenedor. Cocinar en horno precalentado a 180 grados por 8 minutos. Luego sacar, dar vuelta y cocinar por otros 8 minutos o hasta que las crackers estén bien doraditas!</li>
                        <li class="parrafo recetaPreparacion liRecetas">Datos utiles: 1) Dejen los garbanzos hervidos en la heladera y luego los trituran así la masa queda bien. Si uno los tritura en caliente.. la masa va a quedar blanda y necesitaremos agregar más harinas sin gluten a la preparación. El garbanzo se solidifica al enfriarse! 2) Pueden sustituir las harinas por premezcla sin gluten.</li>
                        <li class="parrafo recetaPreparacion liRecetas">A disfrutar! No sé imaginan lo sabrosas que son estas galletitas! El garbanzo es lo más, ya lo verán!</li>
                    </ol>
                </article>
            </section>
        </div>
        <div class="col-lg-4 col-xs-12">
            <section class="recetaPreparacion" data-aos="fade-up">
                <article> 
                    <h3 class="tituloIngredientes tituloPaginas">Qué necesitás?</h3>
                    <ul class="ulIngredientes">
                        <li class="parrafo liIngredientes"> 1 taza y 1/2 garbanzos hervidos, escurridos y fríos</li>
                        <li class="parrafo liIngredientes">1/2 taza almidón de mandioca</li>
                        <li class="parrafo liIngredientes">1/2 taza harina de arroz</li>
                        <li class="parrafo liIngredientes">1 huevo</li>
                        <li class="parrafo liIngredientes">a gusto Sal</li>
                        <li class="parrafo liIngredientes">3 cucharadas soperas aceite</li>
                        <li class="parrafo liIngredientes">Opcional: semillas de sésamo u orégano para espolvorear arriba</li>
                    </ul>  
                </article>
            </section>
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <!-- inicio footer-->
            <footer class="footerFlex">
                <h3 class="copyright">ManuCocina©</h3>
                <ul class="opcionesFooter">
                    <li class="linkFooter"><a href="#top">Ir al tope</a></li>
                    <li class="linkFooter"><a href="../nosotros.html">Nosotros</a></li>
                    <li class="linkFooter"><a href="../contacto.html">Contacto</a></li>
                </ul>
                <div class="divLogosRedes">
                    <img class="logoRedSocial" src="../../assets/img/Redes sociales/whatsapp.png"></li>
                    <img class="logoRedSocial" src="../../assets/img/Redes sociales/instagram.png"></li>
                </div>
            </footer>
            <!--cierre footer-->
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html> 